.nav-box{
    /* -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background: #ffffff80;
        justify-content: center;
        left: 0;
        min-height: 60px;
        min-width: 1200px;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 2; */
}

#chatXContent{
    /* isplay: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative; */
}

.banner-bar{
    /* min-height: 1080px; */
    /* width: 1200px; */
}