.cx-content{
    background-image: url(./ipx/home-banner.webp);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 1080px;
    padding-top: 60px;
    width: 100%;
}