/* .flex{
    display: flex;
} */

div {
    /* padding: 0px; */
    box-sizing: border-box;
    /* margin: 0px; */
}

p{
    color: #676c76;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}